<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Camera Test</title>

        <script src="https://d3js.org/d3.v6.min.js"></script>

        
    </head>
<body>

    <div class="title">
        <h1>Automated Greenhouse Control Panel</h1>
    </div>
    <div class="camera">
        <h2>Camera</h2>
        <img src='http://192.168.191.57:8000/video_feed/'>
    </div>

    <div class="data">
        <h2>The latest data collection</h2>

        <p> time: {{ data_dic.time }}</p> 

        <p> temperature: {{ data_dic.sensor_temperature_inside }}</p>

        <p> humidity: {{ data_dic.sensor_humidity_inside }}</p>
        <p> temperature indoor: {{ data_dic.sensor_temperature_outside }}</p>
        <p> humidity indoor: {{ data_dic.sensor_humidity_outside }}</p>
        <p> light level: {{ data_dic.sensor_light}}</p>
        <p> CO2 level: {{ data_dic.sensor_CO2}}</p>
        <p> moisture level: {{data_dic.sensor_moisture}}</p>
        
        <p> light state: {{data_dic.light}}</p>
        <p> water pump state: {{data_dic.waterpump}}</p>
        <p> fan0 state: {{data_dic.fan0}}</p>
        <p> fan1 state: {{data_dic.fan1}}</p>
        <p> humidifier state: {{data_dic.humidifier}}</p>
        <p> heater state: {{data_dic.heater}}</p>


        {% comment %} <p> temp 24h: {{temp_list}}</p> {% endcomment %}
    </div>

    <svg id="temperature_graph">
    </svg>

    <div class="control">

        <h2>System Control</h2>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="button_light_on" value="Turn on Light" />
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="button_light_off" value="Turn off Light" />
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="button_waterpump_on" value="Turn on Water Pump for 10s" />
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="button_humidifier_on_strong" value="Increase the humidity greatly for 30min" />
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="button_humidifier_on_weak" value="Increase the humidity slightly for 30min" />
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="button_heater_on_strong" value="Increase the temperature greatly for 30min" />
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="button_heater_on_weak" value="Increase the temperature slightly for 30min" />
        </form>
        
    </div>




    <script type="text/javascript">
        var dataArray = {{ temp_list }};

        var width = 500;
        var height = 300;
        var padding = { top: 50, right: 50, bottom: 50, left: 50 };

        var min = d3.min(dataArray, function(d) {
            return d[1];
        })
        var max = d3.max(dataArray, function(d) {
            return d[1];
        })

        var xScale = d3.scaleLinear()
                    .domain([25, 0])
                    .range([0, width - padding.left - padding.right]);
        var yScale = d3.scaleLinear()
                    .domain([min-5, max+5])
                    .range([height - padding.top - padding.bottom, 0]);

        var svg = d3.select("svg")				
                    {% comment %} .append("svg") {% endcomment %}
                    .attr("width", width)
                    .attr("height", height);
        
        // graph frame work
        var xAxis = d3.axisBottom()
                    .scale(xScale);
        var yAxis = d3.axisLeft()
                    .scale(yScale);

        svg.append('g')
            .attr('class', 'axis')
            .attr('transform', 'translate(' + padding.left + ',' + (height - padding.bottom) + ')')
            .call(xAxis);
        svg.append('g')
            .attr('class', 'axis')
            .attr('transform', 'translate(' + padding.left + ',' + padding.top + ')')
            .call(yAxis);

        //line 
        var linePath = d3.line()
                        .x(function(d){ return xScale(d[0]) })
                        .y(function(d){ return yScale(d[1]) });

        svg.append('g')
            .append('path')
            .attr('class', 'line-path')
            .attr('transform', 'translate(' + padding.left + ',' + padding.top + ')')
            .attr('d', linePath(dataArray))
            .attr('fill', 'none')
            .attr('stroke-width', 3)
            .attr('stroke', 'lightblue');
        svg.append('g')
            .selectAll('circle')
            .data(dataArray)
            .enter()
            .append('circle')
            .attr('r', 3)
            .attr('transform', function(d){
                return 'translate(' + (xScale(d[0]) + padding.left) + ',' + (yScale(d[1]) + padding.top) + ')'
            })
            .attr('fill', 'lightblue');

        //axis title
        svg.append("text")
            .attr("transform", "translate(" + (width/2) + "," + (height - padding.bottom / 3) + ")")
            .style("text-anchor", "middle")
            .text("number of hours ago");
        svg.append("text")
            .attr("transform", "rotate(-90)")
            {% comment %} .attr("transform", "translate(" + padding.left + "," + (height - padding.bottom / 3) + ")") {% endcomment %}
            .attr("x", (-height / 2))
            .attr("y", 0)
            .attr("dy", "1em")
            .style("text-anchor" , "middle")
            .text("temperature in degrees");

        //graph title
        svg.append("text")
            .attr("x", (width/2))
            .attr("y", (padding.left / 2 ))
            .attr("text-anchor", "middle")
            .style("font-size", "20px")
            .text("Temperature in the near 24h (record per hour)");


    </script>



    <!-- <form action="/AutomatedGreenhouse" method="post">
        {% csrf_token %}
         <input type="submit" value="确定">
    </form> -->

    <!-- <p>
        <input type="checkbox" id="cbox_light" value="checkbox_light">
        <label for="cbox1">Light Switch</label>
    </p> -->

    <!-- <div class="testswitch">
        <input class="testswitch-checkbox" id="onoffswitch" type="checkbox">
        <label class="testswitch-label" for="onoffswitch">
            <span class="testswitch-inner" data-on="ON" data-off="OFF"></span>
            <span class="testswitch-switch"></span>
        </label>
    </div> -->





</body>
</html>