<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Automated Greenhouse Control Panel</title>

        <script src="https://d3js.org/d3.v6.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
        <script src="{% static 'js/chart.js' %}"></script>
        <script src="{% static 'js/switch_control.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>


        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> {% endcomment %}
        
    </head>
<body>

    <div class="title">
        <h1>Automated Greenhouse Control Panel</h1>
    </div>

    <div class="camera">
        <div class="subtitle">
            <h2>Camera</h2> 
        </div>
        <img src='http://192.168.191.57:8000/video_feed/'>
    </div>

    <div class="data">

        <div class="subtitle">
            <h2>The latest data collected</h2>
        </div>        

        <div class="data_show">
            <p> Time: {{ data_dic.time }}</p> 

            <p> Temperature: {{ data_dic.sensor_temperature_inside }}</p>

            <p> Humidity: {{ data_dic.sensor_humidity_inside }}</p>
            <p> Temperature indoor: {{ data_dic.sensor_temperature_outside }}</p>
            <p> Humidity indoor: {{ data_dic.sensor_humidity_outside }}</p>
            <p> Light level: {{ data_dic.sensor_light}}</p>
            <p> CO2 level: {{ data_dic.sensor_CO2}}</p>
            <p> Moisture level: {{data_dic.sensor_moisture}}</p>
            
            {% comment %} <p> Light state: {{data_dic.light}}</p>
            <p> Water pump state: {{data_dic.waterpump}}</p>
            <p> Fan0 state: {{data_dic.fan0}}</p>
            <p> Fan1 state: {{data_dic.fan1}}</p>
            <p> Humidifier state: {{data_dic.humidifier}}</p>
            <p> Heater state: {{data_dic.heater}}</p> {% endcomment %}
        </div> 

        <div class="subtitle">
            <h2>Data visualization</h2>
        </div> 
        <Temperature></Temperature>
        <Humidity></Humidity>
        <Light></Light>
        <CO2></CO2>
        <Moisture0></Moisture0>
        <Moisture1></Moisture1>
        <Moisture2></Moisture2>
        <Moisture3></Moisture3>
        <div></div>
        <a class="button" href="../History/" target="_blank" >View history Data</a>
        
    </div>




    <div class="control">
        <div class="subtitle">
            <h2>System Control</h2>
        </div>

        {% comment %} <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_light_on" >Turn on Light</button>
        </form> {% endcomment %}


        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="checkbox_light" onclick="checkbox_light_Onclick(this)">
            <label class="form-check-label" for="flexSwitchCheckDefault">Light</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="checkbox_fan0" onclick="checkbox_fan0_Onclick(this)">
            <label class="form-check-label" for="flexSwitchCheckDefault">Fan0</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="checkbox_fan1" onclick="checkbox_fan1_Onclick(this)">
            <label class="form-check-label" for="flexSwitchCheckDefault">Fan1</label>
        </div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio_waterpump" id="btnradio_waterpump" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_">Water pump</label>

            <input type="radio" class="btn-check" name="btnradio_waterpump" id="btnradio_humidifier_on" onclick="checkbox_waterpump_on_Onclick(this)" autocomplete="off" >
            <label class="btn btn-outline-primary" for="btnradio_humidifier_on">On</label>
        </div>
        <div></div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio_humidifier" id="btnradio_humidifier" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_humidifier">Humidifier</label>

            <input type="radio" class="btn-check" name="btnradio_humidifier" id="btnradio_humidifier_off" onclick="checkbox_humidifier_off_Onclick(this)" autocomplete="off" checked >
            <label class="btn btn-outline-primary" for="btnradio_humidifier_off">Off</label>

            <input type="radio" class="btn-check" name="btnradio_humidifier" id="btnradio_humidifier_weak" onclick="checkbox_humidifier_weak_Onclick(this)" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio_humidifier_weak">Weak</label>

            <input type="radio" class="btn-check" name="btnradio_humidifier" id="btnradio_humidifier_strong" onclick="checkbox_humidifier_strong_Onclick(this)" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio_humidifier_strong">Strong</label>
        </div>
        <div></div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio_heater" id="btnradio_heater" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_heater">Heater</label>

            <input type="radio" class="btn-check" name="btnradio_heater" id="btnradio_heater_off" onclick="checkbox_heater_off_Onclick(this)" autocomplete="off" checked >
            <label class="btn btn-outline-primary" for="btnradio_heater_off">Off</label>

            <input type="radio" class="btn-check" name="btnradio_heater" id="btnradio_heater_weak" onclick="checkbox_heater_weak_Onclick(this)" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio_heater_weak">Weak</label>

            <input type="radio" class="btn-check" name="btnradio_heater" id="btnradio_heater_strong" onclick="checkbox_heater_strong_Onclick(this)" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio_heater_strong">Strong</label>
        </div>


    </div>

    <div class="setting">
        <div class="subtitle">
            <h2>User setting</h2>
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="Input_light_low" class="form-label">Light limit - low</label>
                <input type="number" class="form-control" id="Input_light_low" name="Input_light_low">
                <div id="Input_light_low_help" class="form-text">The lower bound of the light of the greenhouse.</div>
            </div>
            <div class="mb-3">
                <label for="Input_light_high" class="form-label">Light limit - high</label>
                <input type="number" class="form-control" id="Input_light_high" name="Input_light_high">
                <div id="Input_light_high_help" class="form-text">The upper bound of the light of the greenhouse.</div>
            </div>
            <div class="mb-3">
                <label for="Input_temperature_low" class="form-label">Temperature limit - low</label>
                <input type="number" class="form-control" id="Input_temperature_low" name="Input_temperature_low">
                <div id="Input_temperature_low_help" class="form-text">The lower bound of the temperature of the greenhouse.</div>
            </div>
            <div class="mb-3">
                <label for="Input_temperature_high" class="form-label">Temperature limit - high</label>
                <input type="number" class="form-control" id="Input_temperature_high" name="Input_temperature_high">
                <div id="Input_temperature_high_help" class="form-text">The upper bound of the temperature of the greenhouse.</div>
            </div>
            <div class="mb-3">
                <label for="Input_humidity_low" class="form-label">Humidity limit - low</label>
                <input type="number" class="form-control" id="Input_humidity_low" name="Input_humidity_low">
                <div id="Input_humidity_low_help" class="form-text">The lower bound of the humidity of the greenhouse.</div>
            </div>
            <div class="mb-3">
                <label for="Input_humidity_high" class="form-label">Humidity limit - high</label>
                <input type="number" class="form-control" id="Input_humidity_high" name="Input_humidity_high">
                <div id="Input_humidity_high_help" class="form-text">The upper bound of the humidity of the greenhouse.</div>
            </div>
            <div class="mb-3">
                <label for="Input_moisture_low" class="form-label">Moisture limit - low</label>
                <input type="number" class="form-control" id="Input_moisture_low" name="Input_moisture_low">
                <div id="Input_moisture_low_help" class="form-text">The lower bound of the moisture of the greenhouse.</div>
            </div>

            <button type="submit" class="btn btn-primary" name="button_setting_submit">Submit</button>
        </form>
    </div>




    <script type="text/javascript">
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        appendGraph_24h("Temperature", {{visualization_data_dic.temperature_24h}});
        appendGraph_24h("Humidity", {{visualization_data_dic.humidity_24h}})
        appendGraph_24h("Light", {{visualization_data_dic.light_24h}})
        appendGraph_24h("CO2", {{visualization_data_dic.CO2_24h}})
        appendGraph_24h("Moisture0", {{visualization_data_dic.moisture_24h_0}})
        appendGraph_24h("Moisture1", {{visualization_data_dic.moisture_24h_1}})
        appendGraph_24h("Moisture2", {{visualization_data_dic.moisture_24h_2}})
        appendGraph_24h("Moisture3", {{visualization_data_dic.moisture_24h_3}})

        var checkbox_light = document.getElementById('checkbox_light');
        checkbox_light.checked = {{data_dic.light}} == 1;
        var checkbox_fan0 = document.getElementById('checkbox_fan0');
        checkbox_fan0.checked = {{data_dic.fan0}} == 1;
        var checkbox_fan1 = document.getElementById('checkbox_fan1');
        checkbox_fan1.checked = {{data_dic.fan1}} == 1;
        var checkbox_humidifier_off = document.getElementById('btnradio_humidifier_off');
        var checkbox_humidifier_weak = document.getElementById('btnradio_humidifier_weak');
        var checkbox_humidifier_strong = document.getElementById('btnradio_humidifier_strong');
        checkbox_humidifier_off.checked = {{data_dic.humidifier}} == 0;
        checkbox_humidifier_weak.checked = {{data_dic.humidifier}} == 1;
        var checkbox_heater_off = document.getElementById('btnradio_heater_off');
        var checkbox_heater_weak = document.getElementById('btnradio_heater_weak');
        var checkbox_heater_strong = document.getElementById('btnradio_heater_strong');
        checkbox_heater_off.checked = {{data_dic.heater}} == 0;
        checkbox_heater_weak.checked = {{data_dic.heater}} == 1;
        var checkbox_waterpump = document.getElementById('btnradio_waterpump');



    </script> 


</body>
</html>