<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Automated Greenhouse Control Panel</title>

        <script src="https://d3js.org/d3.v6.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
        <script src="{% static 'js/chart.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>


        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> {% endcomment %}
        
    </head>
<body>

    <div class="title">
        <h1>Automated Greenhouse Control Panel</h1>
    </div>

    <div class="camera">
        <div class="subtitle">
            <h2>Camera</h2> 
        </div>
        <img src='http://192.168.191.57:8000/video_feed/'>
    </div>

    <div class="data">

        <div class="subtitle">
            <h2>The latest data collected</h2>
        </div>        

        <div class="data_show">
            <p> Time: {{ data_dic.time }}</p> 

            <p> Temperature: {{ data_dic.sensor_temperature_inside }}</p>

            <p> Humidity: {{ data_dic.sensor_humidity_inside }}</p>
            <p> Temperature indoor: {{ data_dic.sensor_temperature_outside }}</p>
            <p> Humidity indoor: {{ data_dic.sensor_humidity_outside }}</p>
            <p> Light level: {{ data_dic.sensor_light}}</p>
            <p> CO2 level: {{ data_dic.sensor_CO2}}</p>
            <p> Moisture level: {{data_dic.sensor_moisture}}</p>
            
            {% comment %} <p> Light state: {{data_dic.light}}</p>
            <p> Water pump state: {{data_dic.waterpump}}</p>
            <p> Fan0 state: {{data_dic.fan0}}</p>
            <p> Fan1 state: {{data_dic.fan1}}</p>
            <p> Humidifier state: {{data_dic.humidifier}}</p>
            <p> Heater state: {{data_dic.heater}}</p> {% endcomment %}
        </div> 

        <div class="subtitle">
            <h2>Data visualization</h2>
        </div> 
        <Temperature></Temperature>
        <Humidity></Humidity>
        <Light></Light>
        <CO2></CO2>
        <Moisture0></Moisture0>
        <Moisture1></Moisture1>
        <Moisture2></Moisture2>
        <Moisture3></Moisture3>
    </div>




    <div class="control">
        <div class="subtitle">
            <h2>System Control</h2>
        </div>
        {% comment %} <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_light_on" >Turn on Light</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_light_off" >Turn off Light</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_fan0_on" >Turn on Fan0</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_fan0_off" >Turn off Fan0</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_fan1_on" >Turn on Fan1</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_fan1_off" >Turn off Fan1</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_waterpump_on" >Turn on Water Pump for 10s</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_humidifier_on_strong" >Increase the humidity greatly for 30min</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_humidifier_on_weak" >Increase the humidity slightly for 30min</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_humidifier_off" >Turn off the humidifier for 30min</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_heater_on_strong" >Increase the temperature greatly for 30min</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_heater_on_weak" >Increase the temperature slightly for 30min</button>
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name="button_heater_off" >Turn off the heater for 30min</button>
        </form> {% endcomment %}

        {% comment %} Add buttons like the following: {% endcomment %}
        {% comment %} <form action="" method="POST">
            {% csrf_token %}
            <button class="button" type="submit" name = "button_light_on">Turn on light</button>
        </form>   {% endcomment %}

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="checkbox_light" onclick="checkbox_light_Onclick(this)">
            <label class="form-check-label" for="flexSwitchCheckDefault">Light</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="checkbox_fan0" onclick="checkbox_fan0_Onclick(this)">
            <label class="form-check-label" for="flexSwitchCheckDefault">Fan0</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="checkbox_fan1" onclick="checkbox_fan1_Onclick(this)">
            <label class="form-check-label" for="flexSwitchCheckDefault">Fan1</label>
        </div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio_waterpump" id="btnradio_waterpump" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_">Water pump</label>

            <input type="radio" class="btn-check" name="btnradio_waterpump" id="btnradio_humidifier_on" onclick="checkbox_waterpump_on_Onclick(this)" autocomplete="off" >
            <label class="btn btn-outline-primary" for="btnradio_humidifier_on">On</label>
        </div>
        <div></div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio_humidifier" id="btnradio_humidifier" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_humidifier">Humidifier</label>

            <input type="radio" class="btn-check" name="btnradio_humidifier" id="btnradio_humidifier_off" onclick="checkbox_humidifier_off_Onclick(this)" autocomplete="off" checked >
            <label class="btn btn-outline-primary" for="btnradio_humidifier_off">Off</label>

            <input type="radio" class="btn-check" name="btnradio_humidifier" id="btnradio_humidifier_weak" onclick="checkbox_humidifier_weak_Onclick(this)" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio_humidifier_weak">Weak</label>

            <input type="radio" class="btn-check" name="btnradio_humidifier" id="btnradio_humidifier_strong" onclick="checkbox_humidifier_strong_Onclick(this)" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio_humidifier_strong">Strong</label>
        </div>
        <div></div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio_heater" id="btnradio_heater" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_heater">Heater</label>

            <input type="radio" class="btn-check" name="btnradio_heater" id="btnradio_heater_off" onclick="checkbox_heater_off_Onclick(this)" autocomplete="off" checked >
            <label class="btn btn-outline-primary" for="btnradio_heater_off">Off</label>

            <input type="radio" class="btn-check" name="btnradio_heater" id="btnradio_heater_weak" onclick="checkbox_heater_weak_Onclick(this)" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio_heater_weak">Weak</label>

            <input type="radio" class="btn-check" name="btnradio_heater" id="btnradio_heater_strong" onclick="checkbox_heater_strong_Onclick(this)" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio_heater_strong">Strong</label>
        </div>


    </div>




    <script type="text/javascript">
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        appendGraph("Temperature", {{visualization_data_dic.temperature_24h}});
        appendGraph("Humidity", {{visualization_data_dic.humidity_24h}})
        appendGraph("Light", {{visualization_data_dic.light_24h}})
        appendGraph("CO2", {{visualization_data_dic.CO2_24h}})
        appendGraph("Moisture0", {{visualization_data_dic.moisture_24h_0}})
        appendGraph("Moisture1", {{visualization_data_dic.moisture_24h_1}})
        appendGraph("Moisture2", {{visualization_data_dic.moisture_24h_2}})
        appendGraph("Moisture3", {{visualization_data_dic.moisture_24h_3}})

        var checkbox_light = document.getElementById('checkbox_light');
        checkbox_light.checked = {{data_dic.light}} == 1;
        var checkbox_fan0 = document.getElementById('checkbox_fan0');
        checkbox_fan0.checked = {{data_dic.fan0}} == 1;
        var checkbox_fan1 = document.getElementById('checkbox_fan1');
        checkbox_fan1.checked = {{data_dic.fan1}} == 1;
        var checkbox_humidifier_off = document.getElementById('btnradio_humidifier_off');
        var checkbox_humidifier_weak = document.getElementById('btnradio_humidifier_weak');
        var checkbox_humidifier_strong = document.getElementById('btnradio_humidifier_strong');
        checkbox_humidifier_off.checked = {{data_dic.humidifier}} == 0;
        checkbox_humidifier_weak.checked = {{data_dic.humidifier}} == 1;
        var checkbox_heater_off = document.getElementById('btnradio_heater_off');
        var checkbox_heater_weak = document.getElementById('btnradio_heater_weak');
        var checkbox_heater_strong = document.getElementById('btnradio_heater_strong');
        checkbox_heater_off.checked = {{data_dic.heater}} == 0;
        checkbox_heater_weak.checked = {{data_dic.heater}} == 1;
        var checkbox_waterpump = document.getElementById('btnradio_waterpump');


        function checkbox_light_Onclick(checkbox){
            if ( checkbox.checked == true){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_light_on": "",},
                });
            }else{
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_light_off": "",},
                });
            }
        }
        function checkbox_fan0_Onclick(checkbox){
            if ( checkbox.checked == true){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_fan0_on": "",},
                });
            }else{
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_fan0_off": "",},
                });
            }
        }
        function checkbox_fan1_Onclick(checkbox){
            if (checkbox.checked == true){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_fan1_on": "",},
                });
            }else{
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_fan1_off": "",},
                });
            }
        }
        function checkbox_humidifier_off_Onclick(checkbox){
            if (checkbox.checked == true){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_humidifier_off": "",},
                });
            }
        }
        function checkbox_humidifier_weak_Onclick(checkbox){
            if (checkbox.checked == true){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_humidifier_on_weak": "",},
                });
            }
        }
        function checkbox_humidifier_strong_Onclick(checkbox){
            if (checkbox.checked == true){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_humidifier_on_strong": "",},
                });
            }
        }
        function checkbox_heater_off_Onclick(checkbox){
            if (checkbox.checked == true){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_heater_off": "",},
                });
            }
        }
        function checkbox_heater_weak_Onclick(checkbox){
            if (checkbox.checked == true){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_heater_on_weak": "",},
                });
            }
        }
        function checkbox_heater_strong_Onclick(checkbox){
            if (checkbox.checked == true){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_heater_on_strong": "",},
                });
            }
        }
        function checkbox_waterpump_Onclick(checkbox){
            if (checkbox.checked == true){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {"button_waterpump_on": "",},
                });
                checkbox_waterpump.checked = false;
            }
        }


    </script> 


</body>
</html>