<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Automated Greenhouse History Data</title>

        <script src="https://d3js.org/d3.v6.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
        <script src="{% static 'js/chart.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        
    </head>
<body>

    <div class="title">
        <h1>Automated Greenhouse History Data</h1>
    </div>

    
    <div class="data_show">
        <div class="subtitle">
            <h2>Device status</h2>
        </div> 
        <Light></Light>
        <Waterpump></Waterpump>
        <Humidifier></Humidifier>
        <Heater></Heater>
        <Fan0></Fan0>
        <Fan1></Fan1>

        <div class="subtitle">
            <h2>Data visualization</h2>
        </div> 

        <Temperature_7d></Temperature_7d>
        <Humidity_7d></Humidity_7d>
        <Light_7d></Light_7d>
        <CO2_7d></CO2_7d>
        <Moisture0_7d></Moisture0_7d>
        <Moisture1_7d></Moisture1_7d>
        <Moisture2_7d></Moisture2_7d>
        <Moisture3_7d></Moisture3_7d>
        <div></div>
        <Temperature_30d></Temperature_30d>
        <Humidity_30d></Humidity_30d>
        <Light_30d></Light_30d>
        <CO2_30d></CO2_30d>
        <Moisture0_30d></Moisture0_30d>
        <Moisture1_30d></Moisture1_30d>
        <Moisture2_30d></Moisture2_30d>
        <Moisture3_30d></Moisture3_30d>
    </div>






    <script type="text/javascript">

        appendGraph_device_24h("Light", {{visualization_data_dic.light_24h}});
        appendGraph_device_24h("Waterpump", {{visualization_data_dic.waterpump_24h}});
        appendGraph_device_24h("Humidifier", {{visualization_data_dic.humidifier_24h}});
        appendGraph_device_24h("Heater", {{visualization_data_dic.heater_24h}});
        appendGraph_device_24h("Fan0", {{visualization_data_dic.fan0_24h}});
        appendGraph_device_24h("Fan1", {{visualization_data_dic.fan1_24h}});


        appendGraph_7d("Temperature", {{visualization_data_dic.temperature_7d}});
        appendGraph_7d("Humidity", {{visualization_data_dic.humidity_7d}})
        appendGraph_7d("Light", {{visualization_data_dic.light_7d}})
        appendGraph_7d("CO2", {{visualization_data_dic.CO2_7d}})
        appendGraph_7d("Moisture0", {{visualization_data_dic.moisture_7d_0}})
        appendGraph_7d("Moisture1", {{visualization_data_dic.moisture_7d_1}})
        appendGraph_7d("Moisture2", {{visualization_data_dic.moisture_7d_2}})
        appendGraph_7d("Moisture3", {{visualization_data_dic.moisture_7d_3}})
        
        appendGraph_30d("Temperature", {{visualization_data_dic.temperature_30d}});
        appendGraph_30d("Humidity", {{visualization_data_dic.humidity_30d}})
        appendGraph_30d("Light", {{visualization_data_dic.light_30d}})
        appendGraph_30d("CO2", {{visualization_data_dic.CO2_30d}})
        appendGraph_30d("Moisture0", {{visualization_data_dic.moisture_30d_0}})
        appendGraph_30d("Moisture1", {{visualization_data_dic.moisture_30d_1}})
        appendGraph_30d("Moisture2", {{visualization_data_dic.moisture_30d_2}})
        appendGraph_30d("Moisture3", {{visualization_data_dic.moisture_30d_3}})

    </script> 


</body>
</html>